body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#7ff8ee,#d8fc75);
    color:rgb(12, 12, 12);
}

header{
    text-align:center;
    padding:30px;
    font-size:32px;
    font-weight:bold;
    letter-spacing:2px;
}

.section-title{
    padding-left:30px;
    font-size:22px;
    margin-top:20px;
}

.container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:30px;
}

.card{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    border-radius:20px;
    padding:20px;
    cursor:pointer;
    transition:0.4s;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.card:hover{
    transform:translateY(-8px) scale(1.03);
}

.tag{
    font-size:22px;
    color:#0f0f0e;
    font-weight:bold;
}

.desc{
    font-size:14px;
    margin-top:10px;
    display:none;
    line-height:1.6;
    color:#f89a42;
}

footer{
    text-align:center;
    padding:20px;
    opacity:0.8;
}